extends layout.pug

block content
  
  center
    div.container
      h1.text-blue Menu
      .row.justify-content-center
      form(action='/menu' method='POST')
      .menudiv
        label.text-blue Donut Holes
        img(src='http://www.forevernomday.com/wp-content/uploads/2015/06/20150608-P6080031-1140x500.jpg')
      .menudiv
        label.text-blue Glazed Dounts
        img(src='https://i.ytimg.com/vi/1eKCe5S3tQM/maxresdefault.jpg')
      .menudiv
        label.text-blue Chocolate Donuts
        img(src='https://assets.epicurious.com/photos/57978bbc3a12dd9d5602400a/2:1/w_1260%2Ch_630/chocolate-glaze.jpg')
      .menudiv
        label.text-blue Strawberry Donuts
        img(src='https://images-gmi-pmc.edge-generalmills.com/9c8e5dc4-2883-4fff-97b2-ed778822c2e5.jpg')
      .menudiv
        label.text-blue Jelly Filled Donuts
        img(src='https://www.bakersroyale.com/wp-content/uploads/2015/04/Jelly-Filled-Doughnuts-with-step-by-step-photos-via-Bakers-Royale.jpg')
      .menudiv
        label.text-blue Chocolate Filled Donuts
        img(src='https://www.telegraph.co.uk/content/dam/Food%20and%20drink/2015-10/14oct/filled-chocolate-doughnuts.jpg?imwidth=480')
      .menudiv
        label.text-blue Custard Filled Donuts
        img(src='https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe/recipe-image/2016/04/custard.jpg?itok=aCI5QQ5l')
      .menudiv
        label.text-blue Bacon, Egg, Ham, Cheese Croissants
        img(src='https://www.chewboom.com/wp-content/uploads/2016/05/2-for-4-Breakfast-Croissants-at-Jack-in-the-Box-678x381.jpg')
      .menudiv
        label.text-blue Sausage CCmuffin w/ Egg
        img(src='https://www.recipetineats.com/wp-content/uploads/2016/05/Sausage-Egg-McMuffins_4.jpg')
      .menudiv
        label.text-blue CC's Filipino Special
        img(src='http://digitalvertebrae.com/robina/site/Pictures/tosilog2.jpg')
      .menudiv
        label.text-blue CC's Creamy Warm Milk
        img(src='https://www.thespruceeats.com/thmb/6rCQaz9uxTQYoOO1cfYjLJ0J-mo=/450x0/filters:no_upscale():max_bytes(150000):strip_icc()/Milk-with-Cinnamon-4000-x-3000-57c500ea3df78cc16e1afde0.jpg')
      .menudiv
        label.text-blue Coffee
        img(src='https://static.independent.co.uk/s3fs-public/thumbnails/image/2018/04/15/16/china-coffee-cup.jpg?w968h681')
