extends layout.pug

block content 
  div.container
    h1.text-free Welcome To CC's Donuts
    .row.justify-content-center
      
      
      form(action='/new-post' method='POST')
        div
          label.text-blue(for='title') Name 
          textarea#title.form-control(type='text' placeholder='Name' name='title')
        div
          label.text-blue(for='title') Delivery Location
          textarea#title.form-control(type='text' placeholder='Address' name='address')
        div
          label.text-blue(for='category') Category 
          select.form-control(name='category')
            option(value='donuts') DONUTS
            option(value='breakfast-sandwiches') BREAKFAST SANDWICHES
            option(value='drinks') DRINKS
        div  
          label.text-blue(for='type') Type
          select.form-control(id='post-type' name='type')
            option(value='text') Donut Holes 
            option(value='text') Glazed
            option(value='text') Chocolate 
            option(value='text') Strawberry
            option(value='text') Filled Donut
            option(value='text') Coffee 
        div(id='post-content')
          label.text-blue(for='content') Special Requests 
          textarea#content.form-control(type='content' placeholder='Insert Request' name='request')
        div
          button(type = "submit") Submit
